<div class="about">
    <h3>Why you should buy from Us ?</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore tenetur illum asperiores. Aliquid fuga illum
        minima laudantium maxime temporibus pariatur perferendis rem consequuntur, asperiores natus, cum adipisci
        maiores illo voluptates possimus. Officiis magnam repudiandae, deleniti repellendus libero exercitationem nulla
        autem nesciunt optio, dolorem, molestiae temporibus sapiente ducimus quae quos qui. Veritatis magni rerum ipsam
        nostrum dolorem cupiditate accusantium tempore, eius explicabo, provident dignissimos perspiciatis quas dolore?
        Aspernatur est consequatur dignissimos!</p>
</div>