<div class="container-fluid login">
    <h3>Login</h3>
    <BR />
    <form class="form-group">
        <div class="col">
            <label for=" inputPassword6">Username :</label>
        </div>
        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        <div class="form-group">
            <label for="inputPassword6">Password :</label>
            <input type="password" id="inputPassword6" class="form-control">
        </div>
        <button class="btn btn-secondary">Login</button>
        <br />
        <br />
        <p>Dont have a user ? &nbsp; <a routerLink="/register">Sign up here.</a></p>
    </form>
</div>