<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #d72323;">
    <a class="navbar-brand" routerLink="/home">Papito Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>

        </ul>
        <div class="log">
            <p>Welcome username &nbsp; <i class="fa fa-sign-out" title="Log Out"></i></p>

        </div>
    </div>
</nav>